<template>
    <lightning-record-edit-form  record-id={recordId} object-api-name="Apttus_Proposal__Proposal__c" onsuccess={handleSucess}>
        <lightning-messages></lightning-messages>
        <div class="slds-m-around_medium">
            <lightning-input-field field-name="Requires_Re_Approval__c"></lightning-input-field>
            <lightning-input-field field-name="APTPS_Requires_Re_Approval_Comments__c"></lightning-input-field>
            <div class="slds-m-top_medium">
                <lightning-button class="slds-m-top_small" label="Cancel" onclick={handleReset}></lightning-button>
                <lightning-button class="slds-m-top_small" type="submit" label="Save"></lightning-button>
            </div>
        </div>
        </lightning-record-edit-form>
</template>